<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rywal CMS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="style/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-route.min.js"></script> -->
    <script src="app/app.js"></script>
    <link rel="icon" href="img/logo-short.png">
</head>
<body ng-app="myApp">
    <div id="loader">
        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div id="page" ng-controller="aplCtrl" class="container-fluid p-1 m-0" style="display:none">
        <!-- header -->
        <header class="row m-0 align-items-start justify-content-center">
            <nav class="navbar navbar-expand-sm navbar-light bg-none align-items-start col-10 col-md-11 p-0 pr-1 pr-sm-4">
                <a class="navbar-brand">                  
                    <img id="brandLogo" src="img/logo.gif" width="auto" height="60" class="d-inline-block align-top" alt="logo firmowe firmy Rywal">
                </a>
                <button class="btn border border-secondary text-secondary navbar-toggler m-0 mt-2 p-0" type="button" data-toggle="collapse" data-target="#navbarToggler01" aria-controls="navbarToggler01" aria-expanded="false" aria-label="Toggle navigation">
                    <a class="btn"><i class="fas fa-bars fa-2x"></i></a>
                </button>
                <div class="collapse navbar-collapse m-auto justify-content-end text-center text-uppercase" id="navbarToggler01">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Aplikacje</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Treści</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="col-auto m-0 p-0">
                <button class="btn m-0 mt-2 p-0 border border-secondary">
                    <a class="btn text-secondary" href="#" title="Wyloguj"><i class="fas fa-power-off fa-2x"></i></a>
                </button>
            </div>   
        </header>
        <hr>
        <!-- header end -->

        <!-- data table -->
        <div class="row">
            <div class="col-12">
                <div class="row justify-content-center mb-2">
                    <h3 class="p-3 m-0">Aplikacje kandydatów</h3>
                    <button class="btn btn-outline-secondary p-2 m-1" title="Dodaj kandydata" ng-click="addPerson()" data-toggle="modal" data-target="#addModal"><i class="fa fa-user-plus fa-2x"></i></button>
                </div>
                <div class="row justify-content-center">
                    <div class="input-group col-8 col-md-5 mb-3 row justify-content-center">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-search"></i></span>
                        </div>
                        <input ng-model="search" type="text" class="form-control" placeholder="Szukaj" aria-label="Szukaj" aria-describedby="basic-addon1">
                    </div> 
                </div>
                
                <div class="table-responsive">
                    <table class="table ">
                        <thead class="thead-dark">
                            <tr>
                                <th class="text-center p-1"><button ng-click="sortBy('Number(id_apl)')" class="btn text-light py-0 px-2 btn-dark toggler">Id</button></th>
                                <th class="p-1"><button ng-click="sortBy('email')" class="btn text-light py-0 px-2 btn-dark">Email</button></th>
                                <th class="p-1"><button ng-click="sortBy('first_name')" class="btn text-light py-0 px-2 btn-dark">Imię</button></th>
                                <th class="p-1"><button ng-click="sortBy('last_name')" class="btn text-light py-0 px-2 btn-dark">Nazwisko</button></th>
                                <th class="time p-1"><button ng-click="sortBy('create_time')" class="btn text-light py-0 px-2 btn-dark">Data aplikacji</button></th>
                                <th class="time p-1"><button ng-click="sortBy('update_time')" class="btn text-light py-0 px-2 btn-dark">Aktualizacja</button></th>
                                <th class="comment p-1"><button ng-click="sortBy('comment')" class="btn text-light py-0 px-2 btn-dark">Komentarz</button></th>
                                <th class="text-center p-1 font-weight-normal">CV</th>
                                <th class="text-center p-1 font-weight-normal">Edytuj</th>
                                <th class="text-center p-1 font-weight-normal">Usuń</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="person in aplications | orderBy:order:reverse | filter:filterBy">
                            <tr>
                                <th class="text-center">{{person.id_apl}}</th>
                                <td>{{person.email}}</td>
                                <td>{{person.first_name}}</td>
                                <td>{{person.last_name}}</td>
                                <td class="time">{{person.create_time}}</td>
                                <td class="time">{{person.update_time}}</td>
                                <td class="comment">{{person.comment}}</td>
                                <td class="text-center"><a href="{{person.file_url}}{{person.file_name}}" download><button class="btn btn-outline-info"><i class="fas fa-file-download"></i></button></a></td>
                                <td class="text-center"><button ng-click="edit()" class="btn btn-outline-warning" data-toggle="modal" data-target="#editModal"><i class="fas fa-edit"></i></button></td>
                                <td class="text-center"><button ng-click="delete()" class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteModal"><i class="fas fa-trash"></i></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- data table end -->

        <!-- edit modal -->
        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalLabel">{{title}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="editComment">Wpisz komentarz:</label>
                            <input ng-model="comment" type="text" class="form-control" id="editComment" aria-describedby="comment">
                        </div>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                    <button type="button" class="btn btn-primary" ng-click="save()">Zapisz</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- edit modal end -->

        <!-- delete modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="ModalLabel">Usuwanie</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <p>Czy na pewno chsesz usunąć dane kandydata?:</p>
                            <p><strong>{{personName}}</strong></p>
                        </div>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                    <button type="button" class="btn btn-danger" ng-click="confirm()">Usuń</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- delete modal end -->

        <!-- add modal -->
        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel">Dodaj kandydata</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="inputEmail">Email:</label>
                            <input ng-model="newPerson.email" type="email" class="form-control" id="inputEmail" aria-describedby="email">
                            <small id="emailError" class="form-text text-danger d-none">Podaj email</small>
                            <small id="emailErrorSec" class="form-text text-danger d-none">Podany email ma nieprawidłowy format</small>
                        </div>
                        <div class="form-group">
                            <label for="inputfirstName">Imię:</label>
                            <input ng-model="newPerson.first_name" type="text" class="form-control" id="inputFirstName" aria-describedby="firstName">
                            <small id="firstNameError" class="form-text text-danger d-none">Podaj imię</small>
                            <small id="firstNameErrorSec" class="form-text text-danger d-none">Podane imię ma nieprawidłowy format</small>
                        </div>
                        <div class="form-group">
                            <label for="inputlastName">Nazwisko:</label>
                            <input ng-model="newPerson.last_name" type="text" class="form-control" id="inputLastName" aria-describedby="lastName">
                            <small id="lastNameError" class="form-text text-danger d-none">Podaj nazwisko</small>
                            <small id="lastNameErrorSec" class="form-text text-danger d-none">Podane nazwisko ma nieprawidłowy format</small>
                        </div>
                        <div class="form-group">
                            <label for="inputComment">Komentarz:</label>
                            <input ng-model="newPerson.comment" type="text" class="form-control" id="inputComment" aria-describedby="commentName">
                        </div>
                        <div class="form-group">
                            <label for="inputFile">CV (format PDF 400kB):</label>
                            <input ng-model="newPerson.file" type="file" class="form-control-file" id="inputFile">
                            <small id="fileError" class="form-text text-danger d-none">Brak pliku</small>
                            <small id="fileErrorSec" class="form-text text-danger d-none">Nieprawidłowy format lub rozmiar pliku</small>
                        </div>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                    <button type="button" class="btn btn-primary" ng-click="savePerson()">Dodaj</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- add modal end -->
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="script/script.js"></script>
</body>
</html>