* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: whitesmoke
}

#brandLogo{
    filter: grayscale(1);
}

/* table */
.time{
    min-width: 130px;
}
.comment{
    min-width: 400px;
}
    /* modal */
    #modalArea{
        outline: none;
        resize: none;
        
    }
    /* modal end */
/* table end */